body{
  background-color: #5D82A2 ;
  font-family: sans-serif;
}

.container{
  max-width: 600px;
  margin: 60px 0o;  
  background-color: white;
  padding: 60px;
  margin:60px;
border-radius: 10;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.city{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0,0.2);
  padding: 20px 0;
}

.city:last-child{
  border: none;
}

h2{
  margin: 0 0 10px;
  font-size: 28px;
}

.date{
 opacity: 0.8;
}

.time{
font-size: 48px;
font-weight: bold;
}

.time small{
  font-size: 18px;
  line-height: 36px;
  vertical-align: middle;
}

select{
  display: block;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
font-size: 18px;
}

h1{
  text-align: center;
  font-family: sans-serif;
font-size: 40px;
}

footer{
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}